@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
}


.active{
  color: black;
}